body {
  background-image: url("photo/end.png");
}
p {
  color:#FFF;
}
.anke a {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    background: rgb(63, 130, 255);
    border-radius: 8px;
    border-bottom: 4px solid #666;
    color: rgb(255, 255, 255);
    margin: auto;
  }

  .image-clear1 {
    width : 50vw ;
    text-align: center;
    margin: 0 auto;
  }

  .image-clear2 {
    width : 50vw ;
    text-align: center;
    margin: 0 auto;
  }

  .image-clear3 {
    width : 50vw ;
    text-align: center;
    margin: 0 auto;
  }

  .image-clear4 {
    width : 50vw ;
    text-align: center;
    margin: 0 auto;
  }
  .makedouga {
    color: #fff;
    display: inline-block;
   padding: 7px 20px;
   border-radius: 25px;
   text-decoration: none;
   color: #FFF;
   background-image: linear-gradient(45deg, #FFC107 0%, #fa6e36 100%);
   transition: .4s;
   }
   .makedouga:hover {
       background-image: linear-gradient(45deg, #FFC107 0%, #ca3f0c 100%);
       }
