@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
	font-family: 'Noto Sans Japanese', sans-serif;	
}
header{
	width: 100%;
	position: fixed;
	margin-top: 0;
	background-color: #000;

}
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
footer {
  margin-top: auto;
  width: 100%;
}
html,body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	text-align: center;
}


ul.topnav {
	overflow: hidden;
	margin: 0; 
	padding: 0;
	list-style-type: none;
	background-color: black;
	font-size: 20px;
	display: inline-block; _display: inline;
	
}
ul.topnav li {
    float: left;
    font-family: sans-serif;
}
ul.topnav li a {
	display: block;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	color: white;
}
ul.topnav li a:hover:not(.active) {
	background-color: #da3c41;
}
ul.topnav li a.active {
	background-color: #da3c41;
}
ul.topnav li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}
h1{
	text-align: center;
	text-decoration: none;
	color: #000;
	
}
.ABOUT {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.STORY {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.MEDIA {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.MAP {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.HELP {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.CONTACT  {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.SERVICE a{
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
	text-align: center;
	text-decoration: none;
	border-bottom: solid 3px #000;
}
.SERVICE {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
	text-align: center;
	text-decoration: none;
}
	
.questionnaire{
    font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.game {
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.follow-me {
	list-style: none;
	margin: 0 0 -8px;
	overflow: hidden;
	padding: 0;
	display: inline-block; _display: inline;
  }
.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}
.follow-me li a::before {
  background-color: #000;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 16px;
  height: 44px; /* Button height */
  line-height: 44px; /* Button height */
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  width: 44px; /* Button width */
}
.follow-me li a:hover::before {
  background-color: #fff;
  color: #000;
}
.follow-me li a[href*="twitter.com"]::before        { content: "\f099"; }
.follow-me li a[href*="youtube.com"]::before        { content: "\f16a"; }
.follow-me li a::before {
    -webkit-border-radius: 2px; /* for Android ~4.3 */
    border-radius: 50%;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    width: 60px;
}
footer {
    background: #000;
	color: #fff;
}
ul.footer {
	overflow: hidden;
	margin: 0; 
	padding: 0;
	list-style-type: none;
	
	font-size: 15px;
	display: inline-block; _display: inline;
	
}
ul.footer li {
    float: left;
    font-family: sans-serif;
}
ul.footer li a {
	display: block;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.btn-gradient-radius {
	display: inline-block;
	padding: 7px 20px;
	border-radius: 25px;
	text-decoration: none;
	color: #FFF;
	background-image: linear-gradient(45deg, #FFC107 0%, #fa6e36 100%);
	transition: .4s;
  }
  
  .btn-gradient-radius:hover {
	background-image: linear-gradient(45deg, #FFC107 0%, #ca3f0c 100%);
  }